body{
    background-color: brown;
}

/* Navigatio */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home Section  */
#Home{
 height: 319px;
 padding: 2px 10px;
 
}
#Home::before{
    height: 480px ;
}
#Home p{
    font-size: 17px;
}
/* Services */
#services{
    flex-direction: column;    
}
#services .box{
    /* padding: 13px; */
    /* margin: 7px 36px; */
    /* border: 2px solid brown; */
    padding: 46px;
    margin: 2px 2px;
}
#services .box img{
    height: 117px;
    /* width: 230px; */
}
/* Client Section  */
#clients{ 
    flex-wrap: wrap;
}

#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}

/* Contact us Section  */
#contact-box form{
    width: 80%;
}
/* Footer  */
/* Utility Clasess */
.h-primary{
    font-size: 26px;
}

.btn{
    font-size: 13px;
    padding: 6px 8px;

}